* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html { 
  overflow-x: hidden;
  overflow-y: hidden;
}

.splash {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  transition: 3s all cubic-bezier(0.86, 0, 0.07, 1);
  top: 0;
  text-transform: uppercase;
}
.splash.seen {
  top: -100%;
}
.center {
  position: absolute;
  top: 100px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  line-height: 35px;
  font-size: 25px;
  text-align: center;
}
.center a {
  color: #fff;
  display: block;
}

.dm-width {
  width: 500px;
  margin: 0 auto;
}

.iphone-mockup {
  position: relative;
  z-index: 5;
}

.dm-device {
  position: relative;
  width: 100%;
  padding-bottom: 203.477897%;
  margin-bottom: 20px;
  z-index: -1000;
}

.device {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: 100% 100%;

  background-repeat: no-repeat;
  background-image: url(https://res.cloudinary.com/di5yipnns/image/upload/v1482236588/apple-iphone_aivldo.png);
  background-size: cover;
  background-position: center center;
}

.screen {
  overflow: hidden;
  position: absolute;
  top: 18.1%;
  bottom: 20.6%;
  left: 12.49%;
  right: 17.4%;
  background-color: #fff;
}

.slider {
  height: 100%;
}
.slider div {
  height: 100%;
}

.slider__item {
  font-size: 100px;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__item--1 {
  background-image: url("../images/slides/1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.slider__item--2 {
  background-image: url("../images/slides/2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.slider__item--3 {
  background-image: url("../images/slides/3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.slider__item--4 {
  background-color: #ffc107;
}

body {
  background: #385392;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes emergence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;

  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; 
}
.plash {
  background: url("https://static.pexels.com/photos/479/landscape-nature-sunset-trees.jpg")
    center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 360px;
  z-index: 999;
  text-align: center;
}

.plash-title {
  color: #fff;
  font-size: 3em;
  margin-top: 200px;
  text-shadow: 0 2px 10px #000;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; 
}
.plash-text {
  color: #fff;
  font-size: 3em;
  margin-top: 100px;
  text-shadow: 0 2px 10px #000;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; 
}


@media screen and (max-height: 766px) {
  .dm-width{
    width: 350px !important;
  }
}

@media screen and (max-height: 1266px) {
  .dm-width{
    width: 425px;
  }
  
}

@media screen and (max-height: 866px) {
  .plash-title{
    font-size: 2.5em !important;
  }
  .plash-text {
    font-size: 2.5em !important;
  }
}

@media screen and (max-width: 500px) {
  .dm-width{
    width: 325px !important;
  } 
  .social-main {
    top: unset !important;
    bottom: 15px !important;
    right: 15px !important;
  }
  .plash-title{
    font-size: 2em !important;
  }
  .plash-text {
    font-size: 2em !important;
  }
} 

@media screen and (max-width: 400px) {
  .dm-width{
    width: 275px !important;
  } 
  .plash-title{
    font-size: 1.5em !important;
  }
  .plash-text {
    font-size: 1.5em !important;
  }
  .copyright {
    flex-direction: column;
  }
  .copyright b {
    padding: 0px !important;
  }
} 

@media screen and (max-width: 350px) {
  .dm-width{
    width: 275px !important;
  } 
  .plash-title{
    font-size: 1.25em !important;
  }
  .plash-text {
    font-size: 1.25em !important;
  }
} 


@media screen and (max-width: 300px) {
  .dm-width{
    width: 275px !important;
  } 
  .plash-title{
    font-size: 1em !important;
  }
  .plash-text {
    font-size: 1em !important;
  }
} 




.social-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 1000000;
  opacity: 0;
}
.emergence{
  animation: emergence 2s forwards ease-in-out;
}

.social-icons {
  transform: scale(1.5);
}
.social-icons {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-icon {
  opacity: 0;
  transition: opacity 0.3s;
}
.social-icon svg {
  overflow: visible !important;
}
.social-icon .si-splash, .social-icon .si-grid {
  display: none;
  visibility: hidden;
}
.social-icon .si-icon {
  transform-origin: "center center";
}

.copyright{
  color: #e0e0e0;
  padding: 0px 0px 40px 40px;
  display: flex;
}
.copyright b {
  padding-left: 5px;
}
footer{
  position: absolute;
  bottom: 0px;
  opacity: 0;
}